.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px;
}

.profilePicLeft {
    align-items: center;
    flex: 1;
    display: flex;
}

.profilePicWrap {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ccc;
    display: inline-block;
    vertical-align: middle;
}

.profilePic {
    width: 100%;
}

.cardDetails {
    flex: 1;
}

.detailsContainer {
    display: flex;
}
.actionButton {
    width: 100%;
}